JWT_SECRET=something
COOKIE_SECRET=something

DATABASE_TYPE=postgres
DATABASE_URL="postgres://postgres.xkzannjhdbfxblmjwmsp:PASS___8932QW@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,http://localhost:7001
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=cookies-n-chill-storefront
SENDGRID_API_KEY=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
SENDGRID_FROM=cookiesnchill2022@gmail.com
SENDGRID_ORDER_PLACED_ID=d-6adead7fa8ef4e989f8bf703bfed5b32
